<?xml version="1.0"?>
<config>
    <modules>
        <Toit_Gallery>
            <version>0.1.0</version>
        </Toit_Gallery>
    </modules>

	<global>
        <helpers>
            <gallery>
                <class>Toit_Gallery_Helper</class>
            </gallery>
        </helpers>
		<blocks>
            <gallery>
                <class>Toit_Gallery_Block</class>
            </gallery>
        </blocks>
		<models>
            <gallery>
                <class>Toit_Gallery_Model</class>
                <resourceModel>gallery_mysql4</resourceModel>
            </gallery>
			<gallery_mysql4>
				<class>Toit_Gallery_Model_Mysql4</class>
				<entities>
					<toitgallery>
						<table>toitgallery</table>
					</toitgallery>
				</entities>
			</gallery_mysql4>
		</models>
        <resources>
            <toitgallery_setup>
                <setup>
                    <module>Toit_Gallery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </toitgallery_setup>
            <gallery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gallery_write>
            <gallery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gallery_read>
        </resources>
	</global>
    <frontend>
        <routers>
            <gallery> 
                <use>standard</use>
                <args>
                    <module>Toit_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </gallery>
        </routers>
		<layout>
			<updates>
				<gallery>
					<file>toitgallery.xml</file>
				</gallery>
			</updates>
		</layout>
    </frontend>
	<admin>
		<routers>
			<gallery>
				<use>admin</use>
				<args>
					<module>Toit_Gallery</module>
					<frontName>gallery</frontName>
				</args>
			</gallery>
		</routers>
	</admin>

    <adminhtml>
		<menu>
			<gallery module="gallery">
				<title>Gallery</title>
				<sort_order>500</sort_order>               
				<children>
					<grid module="gallery">
						<title>Manage Gallery</title>
						<sort_order>1</sort_order>
						<action>gallery/adminhtml_gallery/</action>
					</grid>
					<album module="gallery">
						<title>Manage Albums</title>
						<sort_order>2</sort_order>
						<action>gallery/adminhtml_gallery/album</action>
					</album>
				</children>
			</gallery>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Toit_Gallery>
							<title>Gallery Module</title>
							<sort_order>10</sort_order>
						</Toit_Gallery>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<gallery>
					<file>toitgallery.xml</file>
				</gallery>
			</updates>
		</layout>
    </adminhtml>
</config> 
